#landing{
	width: 100%;
	height: 100%;
	position: relative;
	.sidebar{
		width: 336px;
		padding: 50px;
		box-sizing:border-box;
		height: 100%;
		position: absolute;
		z-index: 2;
		background:#f9f9f9;
		left: 0px;
		.logo{
			margin-top: -30px;
			margin-left: -16px;
			width: 250px;
		}
		.nameinlogo{
			position: absolute;
			color: $blue-lite;
			top: 70px;
			left: 50px;
			font-size: 57px;
			font-weight: bold;
			text-transform: lowercase;
		}
		h1{
			color: #424242;
			font-size: 20px;
			font-weight: 300;
			margin: 20px 0;
			line-height: 28px;
		}
		.alpha{
			font-size: 16px;
			color: #7d7b7b;
			text-align: center;
			padding: 10px;
			margin-top: 15px;
		}

		.step1{
			@include transition(all .4s);
			-webkit-transition-delay: .15s;
			opacity: 1;
			&.ng-hide-add,&.ng-hide-remove{
				display: block!important;
			}
			&.ng-hide{
				opacity: 0;
			}
		}

		.step2{
			margin-top: 20px;
			.ani{
				font-size: 22px;
				font-weight: 300;
				opacity: 1;
				line-height: 28px;
				@include transition(all 1s ease-in-out);
				&.ng-hide-add,&.ng-hide-remove{
					display: block!important;
				}
				&.ng-hide{
					opacity: 0;
				}
				&.one{
					-webkit-transition-delay:.8s;
				}
				&.two{
					-webkit-transition-delay:2.8s;
				}
				&.three{
					margin-top: 20px;
					-webkit-transition-delay:5.3s;
				}
				&.four{
					margin-top: 20px;
				}
			}

			input{
				background:$input-bg-color;
				border-radius: 4px;
				font-weight: bold;
				font-family: Lato;
				color: $blue;
				display: block;
				text-align: center;
				font-size: 24px;
				padding: 8px 0;
				border:none;
				width: 100%;
				margin-top: 15px;
			}
		}

		//animations
		&.ng-hide{
			@include transform(translateX(-100%));
		}
		@include transform(translateX(0%));
		@include transition(all .5s ease-in-out);
		&.ng-hide-add,&.ng-hide-add-active,&.ng-hide-remove,&.ng-hide-remove-active{
			display: block!important;
			
		}
	}

	.video{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		background:url(../images/bookshelf.jpg);
		.play{
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: (236-90)px;
			margin-top: -90px;
			width: 180px;
			height: 180px;
			border:15px solid $brand-color;
			font-size: 200px;
			color: $brand-color;
			background:rgba(180,225,240,.75);
			text-align: center;
			line-height: 160px;
			border-radius: 100%;
			box-sizing:border-box;
			padding-left: 20px;
			@include transition(background .2s);
		}
		&:hover .play{
			background:$blue-lite;
		}
	}
}
#signinButton{
	float: left;
}
.fblogin.btn{
	text-transform: none;
	background:#4B66A0;
	color: #fff;
	float: left;
	width: auto;
	padding: 2px;
	font-size: 13px;
	width: 110px;
	text-align: center;
	margin-left: 15px;
	position: relative;
	padding-left: 20px;
	.icon_fb{
		position: absolute;
		font-size: 50px;
		left: 7px;
		top: -9px;
	}
}